@model SocialFly.SocialUser

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>SocialUser</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SocailMName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SocailMName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Image_)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Image_)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Compensation.CompPay)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Compensation.CompPay)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Follower.FollowerCount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Follower.FollowerCount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Region.RegionName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Region.RegionName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.SociaLId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
