@model IEnumerable<SocialFly.Brand>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CompanyName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Product)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProductDescription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Compensation.CompPay)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Post.PostNum)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CompanyName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Product)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProductDescription)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Compensation.CompPay)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Post.PostNum)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.BrandId }) |
            @Html.ActionLink("Details", "Details", new { id=item.BrandId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.BrandId })
        </td>
    </tr>
}

</table>
